<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="FURNI_CSS/bootstrap.min.css">
    <link rel="stylesheet" href="FURNI_CSS/base.css">
    <title>关于我们</title>
   
  </head>
  <body>
      <nav class="nav navbar-fixed-top">
        <div class="container">
          <a class="logo" href="{:U('Home/index/index')}"><img src="FURNI_IMG/1.png" alt=""></a>
        </div>
      </nav>
        <section class="banner">
            <img class="img-responsive" src="FURNI_IMG/1.jpg" alt="">
        </section>

        <!--中间部分的导航-->

    <section class="">
       <div class="nav-height" id="navHeight">
        <nav class="nav-wrap" id="nav-wrap">
        <div class="container">
        <div class="row">
            <ul class="clearfix">
              <li><a href="{:U('Home/index/index')}">首页</a></li>
              <li id="active"><a href="{:U('Home/index/aboutus')}">关于我们</a></li>
              <li><a href="{:U('Home/index/assortment')}">产品展示</a></li>
              <li><a href="{:U('Home/Style/index')}">家具风格</a></li>
              <li><a href="{:U('Home/index/news')}">新闻中心</a></li>
            </ul>
        </div>
        </div>
        </nav>
    </div>
    </section>


    <!--内容区-->

    <section class="content">
      <div class="container text-center">
        <div class="daoyu">
          <div class="row">
          <div class="col-md-12 gk">
              <h2>它的美符合任何时代的标准</h2>
              <label for=""></label>
              <div>
              <img src="FURNI_IMG/4.png" alt="">
              <img src="FURNI_IMG/4.png" alt="">
              <img src="FURNI_IMG/4.png" alt="">
              </div>
          </div>
        </div>
        </div>
      </div>
        <div class="gaikuang">
        <div class="container text-center">
          <div class="row gk-1">
          <div class="col-md-12">
            <img src="FURNI_IMG/5.png" alt="">
            <h3>XX家具</h3>
            <h3>带来生活的舒适与安心</h3>
            <h3>本公司致力于带来更多不同的生活体验</h3>
            <img src="FURNI_IMG/7.png" alt="">
              <div><foreach name="about" item="vo">
              {:htmlspecialchars_decode($vo['content'])}
              </foreach></div>
          </div>
        </div>
        </div>
            </div>
        <div class="container text-center">
        <div class="daoyu">
          <div class="row">
          <div class="col-md-12 gk">
              <h2>它的美符合任何时代的标准</h2>
              <label for=""></label>
              <div>
              <img src="FURNI_IMG/11.png" alt="">
              <img src="FURNI_IMG/11.png" alt="">
              <img src="FURNI_IMG/11.png" alt="">
              </div>
          </div>
        </div>
        </div>
      </div>
        <div class="renli">
        <div class="container text-center">
            <div class="row gk-2">
            <div class="col-md-12">
              <img src="FURNI_IMG/6.png" alt="">
              <h3>专业设计师，您的户型全能画师</h3>
              <h3>让好的设计师为您的家添加一抹色彩</h3>
              <img src="FURNI_IMG/7.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-12">
                <a href="####"><img class="img-responsive" src="FURNI_IMG/3.jpg" alt=""></a>
            </div>
            <div class="col-md-4 col-xs-12">
                  <a href="####"><img class="img-responsive" src="FURNI_IMG/3.jpg" alt=""></a>
            </div>
            <div class="col-md-4 col-xs-12">
                  <a href="####"><img class="img-responsive" src="FURNI_IMG/3.jpg" alt=""></a>
            </div>
          </div>
        </div>
        </div>
    </section>


    <!--footer-->
      <section class="footer" id="footer">
    <div class="container">
        <div class="row">
            <foreach name="copy" item="vo">
                <div class="col-md-3 col-xs-12 footer_left">
                    <div class="left1">
                        <p>{$vo.name}</p>
                    </div>
                    <p class="left2">{$vo.add}</p>
                    <p class="left2">{$vo.icp}</p>
                </div>
                <div class="col-md-5 col-xs-12 footer_center">
                    <p>TEL:{$vo.tel}</p>
                    <p>FAX:{$vo.fax}</p>
                    <p>E-MAIL：{$vo.email}</p>
                </div>
                <div class="col-md-4 col-xs-12 footer_right">
                    <div class="right1">
                        <ul class="right11">
                            <li><a href="http://weibo.com/"target="_blank"><img src="FURNI_IMG/wb.png" title="新浪微博"></a></li>
                            <li><a href="http://wx.qq.com"target="_blank"><img src="FURNI_IMG/wx.png" title="微信"></a></li>
                            <li><a href="https://www.tmall.com"target="_blank"><img src="FURNI_IMG/tm.png" title="天猫"></a></li>
                            <li><a href="http://www.suning.com"target="_blank"><img src="FURNI_IMG/sn.png" title="苏宁"></a></li>
                            <li><a href="https://www.jd.com"target="_blank"><img src="FURNI_IMG/jd.png" title="京东"></a></li>
                            <li><a href="#"><img src="FURNI_IMG/tj.png" title="自添加"></a></li>
                        </ul>

                    </div>
                    <div class="right2">
                        <ul class="right21">
                            <li><a href="#">品牌中心</a></li>
                            <li><a href="#">服务中心</a></li>
                            <li><a href="#">专卖店查询</a></li>
                            <li class="border"><a href="#">防伪查询</a></li>
                            <li><a href="{:U('bac/login')}" target="_blank">后台管理</a></li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
  </section>
    <!--内容信息导航吸顶及锚点引入JS-->
    <script type="text/javascript" src="FURNI_JS/jquery.min.js"></script>
    <script src='FURNI_JS/nav.js'></script>
        <script>
    //内容信息导航吸顶
      $(document).ready(function(){ 
      var navHeight= $("#navHeight").offset().top; 
      var navFix=$("#nav-wrap"); 
      $(window).scroll(function(){ 
        if($(this).scrollTop()>navHeight){ 
          navFix.addClass("navFix"); 
        } 
        else{ 
          navFix.removeClass("navFix"); 
        } 
        }) 
      })
    //内容信息导航锚点
      /* $('.nav-wrap').navScroll({
          mobileDropdown: true,
          mobileBreakpoint: 768,
          scrollSpy: true
        });
    
        $('.click-me').navScroll({
          navHeight: 0
        });
    
        $('.nav-wrap').on('click', '.nav-mobile', function (e) {
          e.preventDefault();
          $('.nav-wrap ul').slideToggle('fast');
        });*/

    </script>

</body>
</html>













