<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="FURNI_CSS/bootstrap.min.css">
    <link rel="stylesheet" href="FURNI_CSS/index.css">
    <title>家具主页</title>
    <style>

       <style type="text/css">
       /*对轮播图的样式*/
        *{margin: 0;padding: 0;}
        ul,ol{list-style: none;}
        #box{
          width: 790px;
           height: 340px;
            position: relative;
             overflow:hidden;
             margin-top: 20px;
             float: left;
          }
        ul{
          margin:0;
          padding:0;
        }
        #box ol{
          position: absolute;
           right:345px;
            bottom: 10px;
          }
          .circle{
          width:16px;
          height:16px;
          display: inline-block;
          font-size:20px;
          line-height: 16px;
          text-align:center;
          color:#fff;
          text-decoration:none
          }
          .circle a{
            width:16px;
          height:16px;
          }
          .circle a:hover {
            color:blue;
            text-decoration:none;
          } 
          #box ol li{
          float: left;
            }
         .zhanshi{
          float:left;
          margin-top: 20px;
          margin-left: 30px;
         }
    </style>
  </head>
  <body style="overflow:-Scroll;overflow-x: hidden">
      <nav class="nav navbar-fixed-top">
        <div class="container">
          <a class="logo" href="{:U('Home/index/index')}"><img src="FURNI_IMG/1.png" alt=""></a>
        </div>
      </nav>
        <section class="banner">
            <img class="img-responsive" src="FURNI_IMG/1.jpg" alt="">
        </section>
        <!--中间部分的导航-->
        <section class="">
       <div class="nav-height" id="navHeight">
        <nav class="nav-wrap" id="nav-wrap">
        <div class="container">
        <div class="row">
            <ul class="clearfix">
              <li id="active"><a href="{:U('Home/index/index')}">首页</a></li>
              <li><a href="{:U('Home/index/aboutus')}">关于我们</a></li>
              <li><a href="{:U('Home/index/assortment')}">产品展示</a></li>
              <li><a href="{:U('Home/Style/index')}">家具风格</a></li>
              <li><a href="{:U('Home/index/news')}">新闻中心</a></li>
            </ul>
        </div>
        </div>
        </nav>
    </div>
    </section>
        <!--content-->
        <section class="content" id="content">
         <div class="container">
         <div id="box">
              <ul>
                    <foreach name="ibox" item="vos">
                        <if condition="$key lt count($ibox)-1">
                        <li><img src="{$vos}" width="770" height="340"></li>
                        </if>
                    </foreach>
              </ul>
              <ol>
                <li class="current"><a href="#" class="circle">.</a></li>
                  <foreach name="ibox" item="voa">
                      <if condition="$key lt count($ibox)-2">
                          <li class="current"><a href="#" class="circle">.</a></li>
                      </if>
                  </foreach>
              </ol>
            </div>
          <div  class="zhanshi">
            <img src="FURNI_IMG/lb1.png" alt="">
          </div>
          <div  class="zhanshi">
            <img src="FURNI_IMG/lb2.png" alt="">
          </div>
             </div>
            <div class="row">
               <div class="container">
                   <div class="col-md-12 col-xd-12 content11">
                      <h2>适合才是最舒适</h2>
                      <p>全球6000+楼盘，50000+户型，有没有你最喜欢的家？</p>
                      <p><a href="{:U('Home/index/aboutus')}">给你更温暖的家</a></p>
                   </div>
                    <div class="row">
                       <div class="container">
                            <foreach name="firstm" item="vo">
                            <if condition="$vo.id eq 10010">
                              <div class="col-md-6 col-sm-6 col-xd-12 content12">
                                <div class="img">
                                   <a href="#"><img src="{$vo.pic_pic}"width="300"height="220" class="responsive" alt=""></a>
                                 </div>
                                 <div class="content121">
                                    <h4>{$vo.title}</h4>
                                    <p>{$vo.copy}</p>
                                    <p><a href="{:U('index/detail?id='.$vo[id])}">了解更多</a></p>
                                 </div>
                              </div>
                              </if>
                              </foreach>
                            <foreach name="firstm" item="vo">
                            <if condition="$vo.id eq 10011">
                              <div class="col-md-6 col-sm-6 col-xd-12 content12">
                                 <div class="img">
                                   <a href="#"><img src="{$vo.pic_pic}"width="300"height="220" class="responsive" alt=""></a>
                                 </div>
                                 <div class="content121">
                                    <h4>{$vo.title}</h4>
                                   <p>{$vo.copy}</p>
                                   <p><a href="{:U('index/detail?id='.$vo[id])}">了解更多</a></p>
                                  </div>
                              </div>
                              </if>
                              </foreach>
                            <foreach name="firstm" item="vo">
                            <if condition="$vo.id eq 10012">
                              <div class="col-md-6 col-sm-6 col-xd-12 content12">
                                  <a href="#"><img src="{$vo.pic_pic}"width="300"height="220" class="responsive" alt=""></a>
                              <!-- </div> -->
                                <div class="content121">
                                   <h4>{$vo.title}</h4>
                                   <p>{$vo.copy}</p>
                                   <p><a href="{:U('index/detail?id='.$vo[id])}">了解更多</a></p>
                                </div>
                              </div>
                              </if>
                              </foreach>
                            <foreach name="firstm" item="vo">
                            <if condition="$vo.id eq 10013">
                            <div class="col-md-6 col-sm-6 col-xd-12 content12">
                              <!-- <div class="img"> -->
                                  <a href="#"><img src="{$vo.pic_pic}"width="300"height="220" class="responsive" alt=""></a>
                              <!-- </div> -->
                                <div class="content121">
                                   <h4>{$vo.title}</h4>
                                   <p>{$vo.copy}</p>
                                   <p><a href="{:U('index/detail?id='.$vo[id])}">了解更多</a></p>
                                </div>
                            </div>
                            </if>
                              </foreach>
                       </div>
                    </div>
               </div>
            </div>
          <div class="row">
            <div class="container">
              <div class="col-md-12 col-xd-12 content21">
            <h2>找寻一拍即合的默契</h2>
            <p>14000+套家具，给您舒适的幸福生活</p>
            <p><a href="{:U('index/assortment')}">了解更多产品</a></p>
          </div>
          <div class="row">
            <div class="container">
            <foreach name="conner" item="vo">
            <if condition="$key lt 3">
              <div class="col-md-4 col-sm-12 col-xs-12 linggan">
                <img src="{$vo.pic_pic}"width="300"height="220" class="responsive" alt="">
                <a href="#"><h4>{$vo.title}</h4>
                <p>{$vo.copy}</p></a>
              </div>
              </if>
              </foreach>
            </div>
          </div>  
         </div>
            </div>
        </section>
    <!--footer-->
      <section class="footer" id="footer">
    <div class="container">
      <div class="row">
       <foreach name="copy" item="vo">
        <div class="col-md-3 col-xs-12 footer_left">
          <div class="left1">
            <p>{$vo.name}</p>
          </div>
          <p class="left2">{$vo.add}</p>
          <p class="left2">{$vo.icp}</p>
        </div>
        <div class="col-md-5 col-xs-12 footer_center">
          <p>TEL:{$vo.tel}</p>
          <p>FAX:{$vo.fax}</p>
          <p>E-MAIL：{$vo.email}</p>
        </div>
        <div class="col-md-4 col-xs-12 footer_right">
          <div class="right1">
           <ul class="right11">
            <li><a href="http://weibo.com/"target="_blank"><img src="FURNI_IMG/wb.png" title="新浪微博"></a></li>
            <li><a href="http://wx.qq.com"target="_blank"><img src="FURNI_IMG/wx.png" title="微信"></a></li>
            <li><a href="https://www.tmall.com"target="_blank"><img src="FURNI_IMG/tm.png" title="天猫"></a></li>
            <li><a href="http://www.suning.com"target="_blank"><img src="FURNI_IMG/sn.png" title="苏宁"></a></li>
                <li><a href="https://www.jd.com"target="_blank"><img src="FURNI_IMG/jd.png" title="京东"></a></li>
            <li><a href="#"><img src="FURNI_IMG/tj.png" title="自添加"></a></li>
           </ul>
            
          </div>
          <div class="right2">
            <ul class="right21">
              <li><a href="#">品牌中心</a></li>
              <li><a href="#">服务中心</a></li>
              <li><a href="#">专卖店查询</a></li>
              <li class="border"><a href="#">防伪查询</a></li>
              <li><a href="{:U('bac/login')}" target="_blank">后台管理</a></li>
            </ul>
            </ul>
          </div>
        </div>
       </foreach>
      </div>  
    </div>
  </section>
    <!--内容信息导航吸顶及锚点引入JS-->
    <script type="text/javascript" src="FURNI_JS/jquery.min.js"></script>
    <script src="FURNI_JS/nav.js"></script>

        <script>
    //内容信息导航吸顶
      $(document).ready(function(){ 
      var navHeight= $("#navHeight").offset().top; 
      var navFix=$("#nav-wrap"); 
      $(window).scroll(function(){ 
        if($(this).scrollTop()>navHeight){ 
          navFix.addClass("navFix"); 
        } 
        else{ 
          navFix.removeClass("navFix"); 
        } 
        }) 
      })
    //内容信息导航锚点
      /* $('.nav-wrap').navScroll({
          mobileDropdown: true,
          mobileBreakpoint: 768,
          scrollSpy: true
        });
    
        $('.click-me').navScroll({
          navHeight: 0
        });
    
        $('.nav-wrap').on('click', '.nav-mobile', function (e) {
          e.preventDefault();
          $('.nav-wrap ul').slideToggle('fast');
        });*/



/*轮播图*/
        $(document).ready(function() {
            $("#box ol li").mouseover(function() {
                var index=$(this).index();
        $("#box ul li").eq(index).show().siblings().hide();
                 $(this).addClass('current').siblings().removeClass('current');
            });
      
        });
    
    function slider(index){
      var index = $(".current").index()+1;
      if(index==6){
        index=0;
      }
      console.log(index);
      $("#box ol li").eq(index).addClass('current').siblings().removeClass('current');
      $("#box ul li").eq(index).show().siblings().hide();
      
    }
    setInterval('slider()',3000);

    </script>

</body>
</html>