<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="FURNI_CSS/bootstrap.min.css">
    <link rel="stylesheet" href="FURNI_CSS/index.css">
    <title>新闻内容</title>
  </head>
  <body>
      <nav class="nav navbar-fixed-top">
        <div class="container">
          <a class="logo" href="{:U('Home/index/index')}"><img src="FURNI_IMG/1.png" alt=""></a>
        </div>
      </nav>
        <section class="banner">
            <img class="img-responsive" src="FURNI_IMG/news.jpg" alt="">
        </section>

        <!--中间部分的导航-->

        <section class="">
       <div class="nav-height" id="navHeight">
        <nav class="nav-wrap" id="nav-wrap">
        <div class="container">
        <div class="row">
            <ul class="clearfix">
              <li><a href="{:U('Home/index/index')}">首页</a></li>
              <li><a href="{:U('Home/index/aboutus')}">关于我们</a></li>
              <li><a href="{:U('Home/index/assortment')}">产品展示</a></li>
              <li><a href="{:U('Home/Style/index')}">家具风格</a></li>
              <li id="active"><a href="{:U('Home/index/news')}">新闻中心</a></li>
            </ul>
        </div>
        </div>
        </nav>
    </div>
    </section>

        <!--new_content-->
        <section class="new_content">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 new_content1">您当前的位置：
                <a href="{:U('index/news')}">
                  所有新闻
                </a>>> 新闻内容
              </div>
            </div>
             <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 new_content2">
              <foreach name="news_index" item="vo">
                <div class="biaoti"><h1>{$vo.title}</h1></div>
                <div class="news_content">
                  <p>{$vo.conner1}</p>
                </div>
                  <div class="news_content">
                      {:htmlspecialchars_decode($vo['content'])}
                  </div>
                </foreach>
              </div>
            </div>
          </div>
        </section>


    <!--footer-->
      <section class="footer" id="footer">
    <div class="container">
        <div class="row">
            <foreach name="copy" item="vo">
                <div class="col-md-3 col-xs-12 footer_left">
                    <div class="left1">
                        <p>{$vo.name}</p>
                    </div>
                    <p class="left2">{$vo.add}</p>
                    <p class="left2">{$vo.icp}</p>
                </div>
                <div class="col-md-5 col-xs-12 footer_center">
                    <p>TEL:{$vo.tel}</p>
                    <p>FAX:{$vo.fax}</p>
                    <p>E-MAIL：{$vo.email}</p>
                </div>
                <div class="col-md-4 col-xs-12 footer_right">
                    <div class="right1">
                        <ul class="right11">
                            <li><a href="http://weibo.com/"target="_blank"><img src="FURNI_IMG/wb.png" title="新浪微博"></a></li>
                            <li><a href="http://wx.qq.com"target="_blank"><img src="FURNI_IMG/wx.png" title="微信"></a></li>
                            <li><a href="https://www.tmall.com"target="_blank"><img src="FURNI_IMG/tm.png" title="天猫"></a></li>
                            <li><a href="http://www.suning.com"target="_blank"><img src="FURNI_IMG/sn.png" title="苏宁"></a></li>
                            <li><a href="https://www.jd.com"target="_blank"><img src="FURNI_IMG/jd.png" title="京东"></a></li>
                            <li><a href="#"><img src="FURNI_IMG/tj.png" title="自添加"></a></li>
                        </ul>

                    </div>
                    <div class="right2">
                        <ul class="right21">
                            <li><a href="#">品牌中心</a></li>
                            <li><a href="#">服务中心</a></li>
                            <li><a href="#">专卖店查询</a></li>
                            <li class="border"><a href="#">防伪查询</a></li>
                            <li><a href="{:U('bac/login')}" target="_blank">后台管理</a></li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
  </section>
    <!--内容信息导航吸顶及锚点引入JS-->
    <script type="text/javascript" src="FURNI_JS/jquery.min.js"></script>
    <script src='FURNI_JS/nav.js'></script>

        <script>
    //内容信息导航吸顶
      $(document).ready(function(){ 
      var navHeight= $("#navHeight").offset().top; 
      var navFix=$("#nav-wrap"); 
      $(window).scroll(function(){ 
        if($(this).scrollTop()>navHeight){ 
          navFix.addClass("navFix"); 
        } 
        else{ 
          navFix.removeClass("navFix"); 
        } 
        }) 
      })
    //内容信息导航锚点
      /* $('.nav-wrap').navScroll({
          mobileDropdown: true,
          mobileBreakpoint: 768,
          scrollSpy: true
        });
    
        $('.click-me').navScroll({
          navHeight: 0
        });
    
        $('.nav-wrap').on('click', '.nav-mobile', function (e) {
          e.preventDefault();
          $('.nav-wrap ul').slideToggle('fast');
        });*/
    </script>

</body>
</html>













