<html>
<head>
    <meta charset="UTF-8">
    <title>后台登录页面</title>
    <link href="ADMIN_CSS/admin_login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    function check(){
        id=document.getElementById('id').value;
        pwd=document.getElementById('passwd').value;
        if (id.length==0 || pwd.length==0) {
            alert("账号或密码不能为空");
            return false;
        }else{
            return true;
        }
    }
    </script>
</head>
<body style="background-image:url('__PUBLIC__/Admin/Images/bgimg.jpg');width: 100%;height:400px">
<div class="admin_login_wrap">
    <h1>后台管理</h1>
    <div class="adming_login_border" style="background:transparent;">
        <div class="admin_input" >
            <form action="{:U('bac/index')}" method="post"onsubmit="return check()">
                <ul class="admin_items">
                    <li>
                        <label for="user">用户名：</label>
                        <input type="text" name="id" value="" id="user" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <label for="pwd">密码：</label>
                        <input type="password" name="passwd" value="" id="pwd" size="35" class="admin_input_style" />
                    </li>
                    <li>
                        <input type="submit" tabindex="3" value="登录" class="btn btn-primary" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>