.pages{
    float: right;
}
.pages a,
.pages span {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 1px;
    border: 1px solid #00a0e9 ;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pages a,
.pages li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #fcc986;
}

.pages a.first,
.pages a.prev,
.pages a.next,
.pages a.end {
    margin: 0;
}

.pages a:hover {
    border-color: #fcc986;
}

.pages span.current {
    background: #fcc986;
    color: #FFF;
    font-weight: 700;
    border-color: #fcc986;
}