<html>
<head>
    <meta charset="utf-8">
    <title>控制台</title>
    <link rel="stylesheet" type="text/css" href="ADMIN_CSS/identify.css">
    <link rel="stylesheet" type="text/css" href="ADMIN_CSS/layout.css">
    <link rel="stylesheet" type="text/css" href="ADMIN_CSS/account.css">
    <link rel="stylesheet" type="text/css" href="ADMIN_CSS/style.css">
    <link rel="stylesheet" type="text/css" href="ADMIN_CSS/control_index.css">
    <script type="text/javascript" src="ADMIN_JS/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="ADMIN_JS/layer.js"></script>
    <script type="text/javascript" src="ADMIN_JS/haidao.offcial.general.js"></script>
    <script type="text/javascript" src="ADMIN_JS/select.js"></script>
    <script type="text/javascript" src="ADMIN_JS/haidao.validate.js"></script>
    <script type="text/javascript">
        function check(){
            id=document.getElementById('repassword').value;
            pwd=document.getElementById('passwd').value;
            if (id.length==0 || pwd.length==0) {
                alert("新密码或确认密码不能为空");
                return false;
            }else{
                return true;
            }
        }
    </script>
</head>
<style>
    .sidebar-trans{
        display: none;
    }
</style>
<body>
<!--头部-->
<include file="./bac/top" />
<div class="view-body">

    <!--侧栏-->
    <include file="./bac/left" />
    <!--中心部分-->

    <div class="view-product">
        <div class="authority">
            <div class="authority-head">
                <div class="manage-head">
                    <h6 class="layout padding-left manage-head-con"><a href="{:U('bac/index')}" style="font-size: 16px">首页</a> >> 版权区信息</h6>
                </div>
            </div>
            <div class="authority-content">
                <form method="post"action="{:U('drop/copy')}">
                <div class="list-content show">
                    <div class="offcial-table tr-border margin-big-top clearfix">
                        <foreach name="copy" item="vo">
                            <div class="tr-th clearfix">
                                 公司名称： <input type="text"id="name" value="{$vo.name}" name="name">
                            </div>
                            <div class="tr-th clearfix">
                                 公司地址： <input type="text" size="100" value="{$vo.add}" id="add" name="add">
                            </div>
                            <div class="tr-th clearfix">
                                公司ICP： <input id="icp" name="icp"value="{$vo.icp}"type="text">
                            </div>
                            <div class="tr-th clearfix">
                                公司电话： <input id="tel" name="tel"value="{$vo.tel}"type="text">
                            </div>
                            <div class="tr-th clearfix">
                                公司传真： <input id="fax" name="fax"value="{$vo.fax}"type="text">
                            </div>
                            <div class="tr-th clearfix">
                                公司邮箱： <input id="email" name="email" value="{$vo.email}"type="text">
                            </div>
                        </foreach>
                    </div>
                </div>
                <input style="width:50px;height: 24px;border: 1px solid #afadad;background-color:#e0dfe3;margin-top: 8px; " type="submit" value="确认修改">
                <input style="width:50px;height: 24px;border: 1px solid #afadad;background-color:#e0dfe3;margin-top: 8px; " value="返回" type="button" onclick="history.go(-1)">
                </form>
            </div>
        </div>
    </div>
    <!--javascript-->
    <script>
        $(".sidebar-title").live('click', function() {
            if ($(this).parent(".sidebar-nav").hasClass("sidebar-nav-fold")) {
                $(this).next().slideDown(200);
                $(this).parent(".sidebar-nav").removeClass("sidebar-nav-fold");
            } else {
                $(this).next().slideUp(200);
                $(this).parent(".sidebar-nav").addClass("sidebar-nav-fold");
            }
        });
    </script>
</body>

</html>