<html>
    <head>
        <meta charset="utf-8">
        <title>控制台</title>
        <link rel="stylesheet" type="text/css" href="ADMIN_CSS/identify.css">
        <link rel="stylesheet" type="text/css" href="ADMIN_CSS/layout.css">
        <link rel="stylesheet" type="text/css" href="ADMIN_CSS/account.css">
        <link rel="stylesheet" type="text/css" href="ADMIN_CSS/style.css">
        <link rel="stylesheet" type="text/css" href="ADMIN_CSS/control_index.css">
        <script type="text/javascript" src="ADMIN_JS/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="ADMIN_JS/layer.js"></script>
        <script type="text/javascript" src="ADMIN_JS/haidao.offcial.general.js"></script>
        <script type="text/javascript" src="ADMIN_JS/select.js"></script>
        <script type="text/javascript" src="ADMIN_JS/haidao.validate.js"></script>
        <link type="text/css" href="UP_USE/uploadify.css" rel="stylesheet" />
        <script type="text/javascript" src="UP_USE/jquery.uploadify.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#file_upload').uploadify({
                    'swf'      : 'UP_USE/uploadify.swf',
                    'uploader' : '{:U("Home/Index/uploadify")}',
                    'buttonText' : '新闻主图上传',
                    'onUploadSuccess' : function(file, data, response) {
                        var newdata = data.split("_")[1];
                        $('#img').attr('src','__ROOT__/Uploads/'+ newdata);
                        $('#images').val('__ROOT__/Uploads/'+newdata);
                    },
                });
            })
        </script>
        <script type="text/javascript">
            UEDITOR_CONFIG.toolbars=[['source', '|', 'undo', 'redo', '|','customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'autotypeset', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'indent', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
                'link', 'unlink', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
                'simpleupload', 'insertimage', 'emotion','attachment', 'map', 'gmap', 'pagebreak',  'background', '|',
                'horizontal', 'date', 'time', 'spechars', '|', 'preview']]
            UE.getEditor('content',{    //content为要编辑的textarea的id
                initialFrameWidth: 1000,   //初始化宽度
                initialFrameHeight: 500,   //初始化高度
            });
        </script>
        <script type="text/javascript">
            function check(){
                typeid=document.getElementById('typeid').value;
                title=document.getElementById('title').value;
                if (title.length==0 || typeid.length==0) {
                    alert("有必选项没有填写,请填写完整。");
                    return false;
                }else{
                    return true;
                }
            }
        </script>
    </head>
    <style>
        .sidebar-trans{
            display: none;
        }
    </style>
    <body>
<!--头部-->
   <include file="./bac/top" /> 
   <div class="view-body">

       <!--侧栏-->
    <if condition="$_SESSION['power'] eq 1"><include file='./bac/left' />
       <else/><include file='./bac/newsleft'/>
       </if>
   
   <div class="view-product">
                <div class="authority">
                    <div class="authority-head">
                        <div class="manage-head">
                            <h6 class="layout padding-left manage-head-con"><a href="{:U('bac/index')}" style="font-size: 16px">首页</a> >> 家具修改</h6>
                        </div>
                    </div>
                    <div class="authority-content">
                        <div class="list-content show">
                            <foreach name="news" item="vo">
                                <form action="{:U('Home/drop/newsupd?id='.$vo['id'])}" method="post" id="myform" name="myform" enctype="multipart/form-data" onsubmit="return check()">
                            <div class="offcial-table tr-border margin-big-top clearfix">
                            <div class="tr-th clearfix">
                                <div class="tr-th clearfix">
                                新闻标题：<input size="50"class="common-text"type="text" name="title" id="title"value="{$vo.title}">
                                </div>
                                <div class="tr-th clearfix">
                                副标题：<input class="common-text" name="two" size="50" value="{$vo.two}" type="text">
                                </div>
                                <div class="tr-th clearfix">
                                新闻类型：
                                <select name="typeid" id="typeid">
                                    <option <?php if ($vo[typeid]==201){echo "selected";}?> value="201">公司内部</option>
                                    <option <?php if ($vo[typeid]==202){echo "selected";}?> value="202">媒体报道</option>
                                    <option <?php if ($vo[typeid]==203){echo "selected";}?> value="203">国家要闻</option>
                                </select>
                                </div>
                                <div class="tr-th clearfix">
                                发布时间：<input value="{$vo.time}" id="time" class="common-text" size="50" type="text" name="time" placeholder="格式:1999/01/01">
                                </div>
                                <div class="tr-th clearfix">
                                    主缩略图：<br/>
                                    <img id="img" src="{$vo.pic}" width="130" height="130" border="0" /><input id="file_upload" name="file_upload" type="file" multiple="true" value="" />
                                </div>
                                </div>
                            </div>
                            原新闻内容：
                            <input style=" height: 30px;border: 1px solid #afadad;background-color:#e0dfe3;margin-top: 8px; " type="button" id="but" onclick="dis()" value="点击显示">
                            <div class="offcial-table tr-border margin-big-top clearfix">
                                  <div class="tr-th clearfix">
                                       <div class="tr-th clearfix"><div id="yuan" style="border: 1px dashed #e1a531;display:none">
                                           {:htmlspecialchars_decode($vo['content'])}
                                       </div>

                                       内容修改：
                                       <textarea id="content" name="content">

                                       </textarea>
                                       <input type="text" name="pic">
                                </div>
                        </div>
                        </div>
                        <input type="hidden" id="images" name="pic"value="">
                        <input style="width:50px;height: 24px;border: 1px solid #afadad;background-color:#e0dfe3 ;margin-right: 10px; margin-top: 8px;" value="确认修改" type="submit" >
                        <input style="width:50px;height: 24px;border: 1px solid #afadad;background-color:#e0dfe3;margin-top: 8px; " value="返回" type="button" onclick="history.go(-1)">
                        </form>
                        </foreach>
                    </div>
                </div>
            </div>
<!--javascript-->
   <script>
            $(".sidebar-title").live('click', function() {
                if ($(this).parent(".sidebar-nav").hasClass("sidebar-nav-fold")) {
                    $(this).next().slideDown(200);
                    $(this).parent(".sidebar-nav").removeClass("sidebar-nav-fold");
                } else {
                    $(this).next().slideUp(200);
                    $(this).parent(".sidebar-nav").addClass("sidebar-nav-fold");
                }
            });
        </script>
    </body>
    <script type="text/javascript">
        var but=document.getElementById('but');
        var yuan=document.getElementById('yuan');
        function dis(){
            if(but.value=="点击隐藏"){
                yuan.style.display='none';
                but.value="点击显示";
            }else{
                yuan.style.display='';
                but.value="点击隐藏";
            }
        }
    </script>
</html>